.upadate-no-of-item input {
  all: unset;
  color: black;
  width: 60px;
  text-align: center;
  outline: solid #c4c4c4 1px;
  margin: 0 1rem;
}

.selectd-item-img {
  width: 50px;
  height: 50px;
  background-color: #c4c4c4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upadate-no-of-item button {
  all: unset;
  cursor: pointer;
}
img {
  width: 30px;
  height: 30px;
}

.selected-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 3rem;
}
.selected-item-price {
  max-width: 12vw;
  overflow-wrap: break-word;
}

.upadate-no-of-item {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

@media screen and (min-width:750px){

.selected-item-price {
  max-width: 6vw;
  }
}
