/* todo first : finish styling */
#search {
  position: absolute;
  top: 0;
  min-width: 100vw;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  background-color: rgba(22, 21, 21, 1);
  color: white;
}

#search .close {
  color: white;
  grid-column: 6/8;
  padding-top: 5rem;
  text-align: center;
  grid-row: 1;
  cursor: pointer;
  z-index: 1;
}

#search .input {
  grid-row: 1;
  grid-column: 3/7;
  display: flex;
  justify-content: center;
  position: relative;
  padding-top:50vh;
  max-height: 35px;
}

#search .input::after {
  content: ' ';
  position: absolute;
  bottom: -6px;
  left:-9px;
  animation-name: search-slide;
  animation-duration: 0.5s;
}

@keyframes search-slide {
  0% {
    border: solid white 1px;
    width: 1%;
  }

  15% {
    border: solid white 1px;
    width: 20%;
  }

  30% {
    border: solid white 1px;
    width: 40%;
  }

  45% {
    border: solid white 1px;
    width: 60%;
  }

  60% {
    border: solid white 1px;
    width: 70%;
  }

  75% {
    border: solid white 1px;
    width: 90%;
  }

  100% {
    border: solid white 1px;
    width: 100%;
  }
}

.input input {
  padding-left: 0.5rem;
  font-family: 'Montserrat SemiBold';
  font-weight: 600;
  max-width: 200px;
}

.search-logo {
  min-height: 100%;
  padding-top: 0.3rem;
}

@media screen and (min-width: 750px) {
  #search {
    font-size: 25px;
  }

}
