body {
  margin: 0;
  padding: 0;
  background-image: url("./assets/electronics/geforce-rtx-3080-ti.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100vh 200px;
  background-position: right center;
  min-height: 100vh;
}

ul {
  list-style: none;
  padding: 0;
}